

#wrapper {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-auto-rows: minmax(85px, auto);
}

#wrapper>div:first-of-type { background-color: rgb(128, 128, 128) }
#wrapper>div:nth-of-type(2) { background-color: rgb(88, 88, 88) }
#wrapper>div:nth-of-type(3) { background-color: rgb(128, 128, 128) }